.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link.active::after,
.nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: yellow;
  border-radius: 2px;
}
